
/*头部标题部分*/
.headerImage{
    padding-top: 62px;
    padding-bottom: 62px;
    text-align: center;
    width: 100%;
    height: 300px;
    background: url("../image/case-top-bg.jpg") no-repeat;
    background-size: auto;
}

.hColor{
    color: white;
}

/*导航*/



/*主题内容部分*/
.content-wrap{
    margin-top: 50px;
}