body{
    font-family: "微软雅黑","Microsoft YaHei";
}
header{
    padding-bottom: 50px;
}
@media (max-width: 767px)  {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
    }

}
.pagination{
    margin: 1px 5px!important;
}
.pagination.active{
    width: 10px;
    height: 10px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color: #fff;
}
.service,.teamTeacher,.home-comment,.case{
    padding: 50px 0;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}
.navbar-toggle{
    background-color: #ddd;
}
.navbar-default{
    background-color:#428bca ;
    border-color: #428bca;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    /*text-decoration: underline;*/
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-brand{
    color: #fff;
}
.banner{
    position: relative;
    top: 50px;
}
.background-gray{
    background-color: #f5f7fa;
}
/*国家*/
.country{
    padding: 40px 0 10px 0;
}
.country-item{
    position: relative;
    display: inline-block;
}
.country-item img{
    width: 100%;
}

.country-item .mask{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.country-item .text{

    line-height: 105px;
    position: absolute;
    top:0;
    font-size: 24px;
    color: #fff;
    text-align: center;
    width: 100%;
}
.country-item .mask:hover{
    transition: all 0.4s ease;
    background-color: transparent;
}
/*服务*/
.service{
    /*background-color: #f5f7fa;*/
}
.service h2{
    margin-top: 40px;
}
.service h2>p{
    font-size: 16px;
    color: #777;
}
.service .thumbnail{
    padding: 0;
}
.service .thumbnail img{
    width:100%;
}

/*客户评价*/

.comment{
    background: url("../image/collage.jpg") center center ;
    padding: 80px 0;
    background-size: cover;
}
.comment h2{
    color: #fff;
}
.user-comment{
    color: #ccc;
    font-size: 16px;
    padding-top: 20px;
}
/*教师*/
.team-description{
    line-height: 28px;
    margin: 0;
}
.team{
    margin-top: 20px;
}
.team-item{
    position: relative;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.team-item:hover{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    top: -4px;
    transform: scale(1.02);
    -moz-transform:scale(1.02);
    -webkit-transform:scale(1.02);
    -o-transform:scale(1.02);
    transition: all .5s ease;
}

.teacher-picture{
    width: 100px;
    margin: 10px 0;
}
/*用户评价*/
.comment-wrap{
    margin-top: 20px;
}
.home-comment-item{
    border:1px #e4e4e4 solid;
    padding: 25px 20px 10px;
    margin-bottom: 20px;
}
.home-comment-item:hover{
    border: 1px solid #4cae4c;
}
.customer-picture{
    width: 50px;
}
.comment-info{
    text-align: right;
}
.comment-info .line{
    display: inline-block;
    vertical-align: middle;

}
.comment-btn,.case-btn,.team-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-size: 22px;
}
/*案例*/
.case-list{
    margin-top: 40px;
}
/*底部*/
footer{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 0;
    color: #c8c8c8;
    border-top: 2px solid #009635;
    background: #272b35
}
footer .qq{
    width: 20px;
}
.qq-btn{
    display: block;
    margin-bottom:10px
}
.foot-logo{
    margin-top: 0;
    font-size: 30px;
}
.footer-item li{
    font-size: 16px;
    color: #c8c8c8;
    margin-bottom: 10px;
}
.footer-item li a{
    color: #c8c8c8;
}
.footer-item li a:hover{
    color:#fff;
}
.footer-item .title{
    margin-bottom: 20px;
}
.title a{
    font-size: 20px;
}
.title a:hover{
    color: #fff;
}
.attention .title,.aboutus-items .title,.privacy-items .title,.service-items .title{
    font-size: 20px;
    color: #c8c8c8;
}
.attention li{
    font-size: 16px;
}
.attention li a{
    color:#00c3b6 ;
}
.attention li a:hover{
    color: #f7f7f7;
    transition: all 0.6s ease;
}
.attention li{
    margin-bottom: 10px;
}
.attention .title{
    margin-bottom: 20px;
}
.footer-icon{
    font-size: 24px;
}
.go-logo:hover{

}
.copy-right{
    font-family: Helvetica, "Helvetica Neue", "\5FAE\8F6F\96C5\9ED1", Tahoma, Arial, sans-serif;
}
/*案例页面*/
.case-page-bg{
    height: 300px;
    padding-top: 60px;
    background: url(../image/case-top-bg.jpg) no-repeat;
}
.case-description{
    color: #fff;
    text-align: center;
}
.case-description h3{
    font-size: 28px;

}
.case-description p{
    font-size: 21px;
}
.success-case{
    margin-top: 40px;
    margin-bottom: 40px;
}
.task-screen{
    margin-top: 40px;
    margin-bottom: 40px;
}
.case-page-item .thumbnail{
    border: 1px #e4e4e4 solid;
    padding: 10px;
    margin-bottom: 0;
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-decoration: none;
}
.case-page-item .thumbnail:hover{
    text-decoration: none;
    color: #428bca;
}
.case-page-picture {
    height: 220px!important;
}
.case-page-comment{
    margin-top: 10px;
    color: #333;
    height: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.comment-text{
    margin-top: 20px;
    padding: 0 10px;
}
.modal-case-picture img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.case-page-info{
    display: inline-block;
    text-align: right;
    width:100%;
    color: #333;
}
.case-page-info img{
    width: 30px;
}
.case-page-more {
    margin-bottom: 40px;
}

/*团队*/
.teacher{
    margin-top: 40px;
    margin-bottom: 40px;
}
.teacher-item{
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}
.teacher-description h3{
    font-size: 28px;

}
.teacher-description p{
    font-size: 21px;
}
.teacher-item-avartar{
    text-align: center;
}
.teacher-item-right p:nth-child(2){
    margin-bottom: 0;
}
.teacher-page-bg{
    height: 300px;
    padding-top: 60px;
    background: url(../image/case-top-bg.jpg) no-repeat;
}
.teacher-description{
    color: #fff;
    text-align: center;
}
.teacher-item-skill span{
    display: inline-block;
    margin-bottom: 4px;
}
.teacher-pagination{
    text-align: center;
}

.school-list li span{
    margin-right: 2px;
    display: inline-block;
}

.teacher-item-score strong span{
    color: #5bc0de;
}
.teacher-item-score strong .all-score{
    color: #000;
}
/*隐私政策*/
.privacy-page-bg{
    height: 300px;
    padding-top: 60px;
    background: url(../image/privacy_bg.jpg) center no-repeat;
    background-size: cover;
}
.privacy-description{
    color: #fff;
    text-align: center;
}
.privacy-description h3{
    font-size: 28px;
}
.privacy-description p{
    font-size: 21px;
}
.privacy-container{
    margin-bottom: 40px;
    margin-top: 40px;
}
.privacy-container h2{
    margin-bottom: 30px;
}
.privacy-container p{
    margin-bottom: 20px;
}

.qq-window{
    position: fixed;
    left: 10px;
    bottom: 0px;
    width: 200px;
    height: 30px;
    background: #464646;
    padding: 5px 14px;
    border-radius: 5px 5px 0 0;
}

.qq-window i{
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    background: url("../image/qq.png") no-repeat center;
    background-size: contain;
}

.qq-window span{
    float: left;
    color: white;
    line-height: 20px;
}

.qq-window span b{
    color: #D966C7;
    margin-left: 0.4rem;

}



/*分页信息*/
.piginationMessage{
    text-align: center;
    background: white;
    border: 0px solid rebeccapurple;
}


